<hr>
  <center><h1>Create an Event Form</h1></center>
<hr>
<div class= "container">
  <%= simple_form_for @sport_event, data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :address,
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :sport, collection: SportEvent::SPORTS %>
    <%= f.input :description %>
    <%= f.input :start_at, as: :string, input_html: { data: { flatpickr_target: "startAt" } } %>
    <%= f.input :image, as: :file %>
    <hr>
    <center><%= f.submit %></center>
  <% end %>
</div>
