<div class="card-trip">
  <div class="show-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @sport_event.image%>)">
    <h5><i class="showpage-icons fa-solid fa-location-dot"></i><%= @sport_event.address %></h5>
  </div>

  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <div>
      <h4 class="card-trip-pricing"><i class="showpage-icons fa-regular fa-calendar-days"></i><%= @sport_event.start_at.strftime("%d %B") %></h4>
      <h4 class="card-trip-pricing"><i class="showpage-icons fa-regular fa-clock"></i><%= @sport_event.start_at.strftime("%d %B") %></h4>
    </div>
    <% if @sport_event.user.photo.attached? %>
      <%= cl_image_tag(@sport_event.user.photo.key, :class => "reviewer-pic avatar-bordered") %>
    <% else %>
      <img class="reviewer-pic avatar-bordered" alt="avatar-large" src=<%= asset_path "avatar.png"%> />
    <% end %>
  </div>
</div>

<%= link_to "host", profile_path(@sport_event.user) %>


<div>
  <ol>
    <% @sport_event.requests.each do |request| %>
      <% if request.accepted == false %>
        <p></i><%= request.user.username %><br><%= request.message %></p>
      <% end %>
    <% end %>
  </ol>
</div>

<div class= "container">
    <% if current_user != @sport_event.user && (@user_request.nil?) %>
    <%# display only if the user hasnt sent a request yet %>
      <%= simple_form_for [@sport_event, @request] do |f| %>
        <%= f.input :message %>
        <center><%= f.button :submit, "Request to join" %></center>
      <% end %>
  <% end %>
</div>



<div class= "container">
    <% if current_user != @sport_event.user %>
      <%= simple_form_for [@sport_event, @review] do |f| %>
          <%= f.input :rating %>
          <%= f.input :content %>
          <center><%= f.button :submit, "Create a review", class: 'btn btn-success'%></center>
    <% end %>
<% end %>
</div>



<div class= "showpage-edit-delete-btns">
  <% if current_user == @sport_event.user %>
    <%= link_to "Update", edit_sport_event_path(@sport_event), class: 'btn btn-success' %>
    <%= link_to 'Delete', @sport_event, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this event?" }, class: 'btn btn-danger' %>
  <% else %>
    <%# <%= link_to "Request to join", sport_event_requests_path(@sport_event), class: 'btn btn-success' %>
  <% end %>
</div>
