
<h1 class= "showpageh1"><%= @sport_event.sport %></h1>


<div class= "cardshow_container">
  <div class= "cardshow">
    <img src=<%= asset_path "1.jpg" %>>
      <div class= "event_info">
        <ul>
          <li style="list-style-type: none;"><p><%= link_to @sport_event.user.username, profile_path(@sport_event.user.id) %></p></li>
          <li style="list-style-type: none;"><p><%= @sport_event.sport %></p></li>
          <li style="list-style-type: none;"><p><%= @sport_event.address %></p></li>
          <li style="list-style-type: none;"><p><%= @sport_event.description %></p></li>
          <li style="list-style-type: none;"><p><%= @sport_event.start_at.strftime("%d %B %Y %H:%M") %></p></li>
        </ul>
      </div>
  </div>
</div>

<ol>
  <% @sport_event.requests.each do |request| %>
    <% if request.accepted == false %>
      <li><%= request.user.username %><br><%= request.message %></li>
    <% end %>
  <% end %>
</ol>


<% if current_user != @sport_event.user && (@user_request.nil? || !@user_request.accepted) %> <%# display only if the user hasnt sent a request yet %>
  <%= simple_form_for [@sport_event, @request] do |f| %>
    <%= f.input :message %>
    <%= f.button :submit, "Send Message"%>
  <% end %>
<% end %>

<%= link_to "Home", root_path %>
<%= link_to "Dashboard", dashboard_path %>
<%= link_to "List of events", sport_events_path %>

<% if (@user_request && @user_request.accepted) || (@sport_event.user == current_user) %>
  <%= link_to "Go to chat", chat_sport_event_path(@sport_event) %>
<% end %>


<%= simple_form_for [@sport_event, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit %>
<% end %>

<% if current_user == @sport_event.user %>
  <%= link_to "Requests", sport_event_requests_path(@sport_event) %>
  <%= link_to "Update event", edit_sport_event_path(@sport_event) %>
  <%= button_to 'Delete Post', @sport_event, method: :delete %>
<% end %>
