<hr>
<center><h2>Hosted By <%=@sport_event.user.username%></h2></center>
<hr>
<div class= "container">
  <div class= "show-card">
    <div class= "show-card-image">
      <h1><%= @sport_event.sport.capitalize %></h1>
    </div>
    <div class= "show-card-text">
      <p><i class="showpage-icons fa-regular fa-user"></i><%= link_to @sport_event.user.username, profile_path(@sport_event.user.id) %>'s profile</p>
      <p><i class="showpage-icons fa-solid fa-location-dot"></i><%= @sport_event.address %></p>
      <p><i class="showpage-icons fa-solid fa-circle-info"></i><%= @sport_event.description %></p>
      <p><i class="showpage-icons fa-regular fa-calendar-days"></i><%= @sport_event.start_at.strftime("%d %B %Y") %></p>
      <p><i class="showpage-icons fa-regular fa-clock"></i><%= @sport_event.start_at.strftime("%H:%M") %></p>
        <% if (@user_request && @user_request.accepted) || (@sport_event.user != current_user) %>
      <p><%= link_to chat_sport_event_path(@sport_event) do %><i class="showpage-icons fa-regular fa-comments"></i><%end%>  with <%=@sport_event.user.username%></p><%end%>
    </div>
  </div>
</div>


<div>
<ol>
  <% @sport_event.requests.each do |request| %>
    <% if request.accepted == false %>
      <p></i><%= request.user.username %><br><%= request.message %></p>
    <% end %>
  <% end %>
</ol>
</div>

<hr>

<div class= "container">
<% if current_user == @sport_event.user && (@user_request.nil? || !@user_request.accepted) %> <%# display only if the user hasnt sent a request yet %>
  <%= simple_form_for [@sport_event, @request] do |f| %>
    <%= f.input :message %>
    <center><%= f.button :submit, "Send Message" %></center>
  <% end %>
<% end %>
</div>

<hr>

<div class= "container">
<% if current_user != @sport_event.user %>
  <%= simple_form_for [@sport_event, @review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :content %>
      <center><%= f.button :submit, "Create a review", class: 'btn btn-success'%></center>
  <% end %>
<% end %>
</div>

<hr>

<div class= "showpage-edit-delete-btns">
  <% if current_user == @sport_event.user %>
    <%= link_to "Update", edit_sport_event_path(@sport_event), class: 'btn btn-success' %>
    <%= link_to 'Delete', @sport_event, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this event?" }, class: 'btn btn-danger' %>
  <% end %>
  <%# <%= button_to "Request to join", sport_event_requests_path(@sport_event) %>
</div>
