<div class="navbar bg-blue px-3">
  <%= link_to '<i class="fa-solid fa-chevron-left"></i>'.html_safe, :back, class: "nav-link" %>
  <%= link_to :root do %>
    <img src="<%= asset_path "Logo_white.png"%>" alt="" width="50px">
  <% end %>
  <% if user_signed_in? %>
    <%= link_to '<i class="fa-solid fa-arrow-right-from-bracket"></i>'.html_safe, "/users/sign_out", class: "nav-link", data: {turbo_method: :delete} %>
  <% else %>
    <%= link_to '<i class="fa-solid fa-right-to-bracket"></i>'.html_safe, new_user_session_path, class: "nav-link" %>
  <% end %>
</div>
