<h1>This is <%= @user.username %> account</h1>
<h2><%= @user.about_me %></h2>
<%= link_to "Edit user", edit_user_registration_path %>

<ul>
  <% @user.reviews.each do |review| %>
    <li><%= review.rating %> <%= review.content %><%= review.user.username %></li>
  <% end %>
</ul>
<%# find blank avatar %>
<% if @user.photo.attached? %>
  <%= cl_image_tag(@user.photo.key, :class => "avatar-large") %>
<% else %>
  <img class="avatar-large" alt="avatar-large" src=<%= asset_path "avatar.png"%> />
<% end %>

