<div class="dashboard-profile">
  <div class="dashboard-img">
    <% if @user.photo.attached? %>
      <%= cl_image_tag(@user.photo.key, :class => "reviewer-pic") %>
    <% else %>
      <img class="reviewer-pic" alt="avatar-large" src=<%= asset_path "avatar.png"%> />
    <% end %>
  </div>
  
  <div class="user-name">
    <h3>Hello, <strong><%= @user.username %></strong></h3>
  </div>
</div>
<div>
  <h4>Events you are hosting</h4>
</div>


  <div class= "cards p-2">
    <% @sport_events.each do |event| %>
      <%= link_to sport_event_requests_path(event), class: "text-decoration-none" do %>
        <div class="card-product my-2">
          <img src="<%= event.image %>" />
          <div class="d-flex" style="justify-content: space-between; flex-grow: 1;">
            <div class="card-product-infos p-1" id="request-details">
              <h3 class="text-decoration-transparent"><%= event.sport %></h3>
              <h2>Request (<%= event.requests.where(accepted: false).count %>)</h2>
              <h5><i class="showpage-icons fa-solid fa-location-dot"></i><%= event.address %></h5>
            </div>

            <div class="date-location">
              <h5><i class="showpage-icons fa-regular fa-calendar-days"></i><%= event.start_at.strftime("%d %B") %></h5> <%# needs some polishing  %>
              <h5><i class="showpage-icons fa-regular fa-clock"></i><%= event.start_at.strftime("%H:%M") %></h5>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


<hr>
<h4>Events I've joined</h4>

  <div class= "cards">
    <% @requests.each do |request| %>
      <div class= "card">
        <div class="card-text">
            <% if request.accepted %>
              <h2><%= link_to request.sport_event.sport, sport_event_path(request.sport_event), class: 'no-link' %></h2>
              <%= request.sport_event.user.username %><br><%= link_to "Leave event", accept_request_path(request), data: { turbo_method: :patch } %></li>
            <% end %>
            <p><%= request.sport_event.address %></p>
            <p>Not accepted yet</p>
        </div>
      </div>
      <% end %>
  </div>
