<hr>
  <center><h1>My dashboard</h1></center>
<hr>
<h4 style= "margin-left: 18px; margin-bottom: 18px;">Events I'm hosting</h4>


  <div class= "cards">
    <% @sport_events.each do |event| %>
      <div class="card">
        <div class="card-text">
          <h2><%= link_to event.sport, sport_event_path(event), class: 'no-link' %></h2>
          <p><%= event.address %></p>
          <%# <p><%= event.user.username %></p>
        </div>
      </div>
    <% end %>
  </div>


<hr>
<h4 style= "margin-left: 18px; margin-bottom: 18px;">Events I've joined

<div class= "container">
  <div class= "cards">
    <% @requests.each do |request| %>
      <div class= "card">
        <div class="card-text">
            <% if request.accepted %>
              <p><%= link_to request.sport_event.sport, sport_event_path(request.sport_event), class: 'no-link' %></p>
              <%= request.sport_event.user.username %><br><%= link_to "Leave event", accept_request_path(request), data: { turbo_method: :patch } %></li>
            <% end %>
            <p><%= request.sport_event.address %></p>
        </div>
      <% end %>
  </div>
</div>
