<h1>This is the dashboard</h1>
<h2>Events I'm hosting</h2>
<ol>
  <% @sport_events.each do |event| %>
    <li><%= link_to event.sport, sport_event_path(event) %>
    <%= event.user.username %></li>
  <% end %>
</ol>

<h2>Events I'm participating</h2>
<ol>
  <% @requests.each do |request| %>
    <li><%= link_to request.sport_event.sport, sport_event_path(request.sport_event) %>
    <%= request.sport_event.user.username %></li>
  <% end %>
</ol>

<%= link_to "List of events", sport_events_path %>
