<h1>My dashboard</h1>
<h2>Events I'm hosting</h2>
<div class= "cards">
    <% @sport_events.each do |event| %>
      <div class= "card">
        <img src=<%= asset_path "1.jpg" %>>
        <ul>
          <li style="list-style-type: none;"><%= event.user.username %></li>
          <li style="list-style-type: none;"><%= link_to event.sport, sport_event_path(event) %>
          <li style="list-style-type: none;"><%= event.address %></li>
          <li style="list-style-type: none;"><%= event.start_at %></li>
        </ul>
      </div>
    <% end %>
</div>

<h2>Events I'm participating</h2>

<div class= "cards">
  <% @requests.each do |request| %>
    <div class= "card">
      <img src=<%= asset_path "1.jpg" %>>
        <ul>
          <% if request.accepted %>
            <li><%= link_to request.sport_event.sport, sport_event_path(request.sport_event) %></li>
            <%= request.sport_event.user.username %><br><%= link_to "Leave event", accept_request_path(request), data: { turbo_method: :patch } %></li>
          <% end %>
          <li><%= request.sport_event.user.username %></li>
          <li style="list-style-type: none;"><%= request.sport_event.address %></li>
          <li style="list-style-type: none;"><%= request.sport_event.start_at %></li>
        </ul>
      </div>
    <% end %>
</div>
<%= link_to "List of events", sport_events_path %>
