<% sum = 0 %>
<% counter = 0 %>
<% @user.sport_events.each do |event| %>
  <% event.reviews.each do |review| %>
    <% sum += review.rating %>
    <% counter += 1 %>
  <% end %>
<% end %>
<% sum = sum / counter.to_f %>

<div class="profile">
  <div>
    <div class="profile-image">
      <% if @user.photo.attached? %>
        <%= cl_image_tag(@user.photo.key, :class => "profile-pic") %>
      <% else %>
        <img class="profile-pic" alt="avatar-large" src=<%= asset_path "avatar.png"%> />
      <% end %>
    </div>

    <div class="d-flex flex-column my-rating">
      <h2><%= @user.username%></h2>
      <i class="fa-solid fa-star"> <%= sum.round(1) %></i>
    </div>
  </div>

  <div class="profile-details">
    <div>
    </div>
    <div class="about-me text-break">
      <p><%= @user.about_me %></p>
    </div>
  </div>
</div>

<% reviews_array = @user.sport_events.map { |event| event.reviews}.flatten %>
<% reviews_array.each do |review| %>
  <%=  link_to profile_path(review.user), class: "text-decoration-none" do %>
    <div class="review-container my-4">
      <div class="review-info">
        <div class="image-username-rating">
          <div class="review-img">
            <% if review.user.photo.attached? %>
              <%= cl_image_tag(review.user.photo.key, :class => "reviewer-pic") %>
            <% else %>
              <img class="reviewer-pic" alt="avatar-large" src=<%= asset_path "avatar.png"%> />
            <% end %>
          </div>
          <div class="user-name">
            <h3><%= review.user.username %></h3>
            <div class="d-flex">
              <% review.rating.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="fa-regular fa-star"></i>
              <% end %>

            </div>
          </div>
        </div>

        <div class="user-review-date">
          <p><%= review.created_at.strftime("%d %B") %></p>
          <p><%= review.sport_event.sport %></p>
        </div>
      </div>

      <div class="review-content mt-3 p-1">
        <p class="m-1"><%= review.content %></p>
      </div>
    </div>
  <% end %>
<% end %>
